@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(5, 66, 158, 1) 0%, rgba(74, 189, 255, 1) 100%);

}

.tempBox {
  height: 380px;

  background-color: #426ba5b3;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.tempBox3 {
  height: 380px;

  background-color: #426ba5b3;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.tempBox2 {
  height: auto;
  background-color: #426ba5b3;
  border-radius: 15px;
}

.left-div {
  width: 20%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #426BA5;
  border-right: 2px solid #25353E;
}

.toggle-div {

  display: block;
  /* Initially hide the div */
}

.visible {
  display: none;

  /* Show the div */
}

.hidden {
  display: block;
  /* Hide the div */
}

@media screen and (max-width: 1280px) {
  .tempBox {}

  .tempBox {
    height: auto;

    background-color: #426ba5b3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .tempBox3 {
    height: auto;

    background-color: #426ba5b3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

  }

  .left-div {
    width: 50%;
  }
}